.spacer {
  margin: 50px 0;
}
.spacer-top {
  margin-top: 50px;
}
.line::after {
  content: '';
  width: 100px;
  height: 3px;
  background: green;
  display: block;
  margin: 0 auto;
  background: #f29f8d;
  margin-top: 10px;
}
.spacer-side {
  padding: 0 10px;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
.menu li {
  color: #ffff;
  transition: 0.1s ease-in;
}
.menu li:hover {
  color: #f29f8d;
}
.btn-produtos {
  border-radius: 0.4rem;
  border: 2px solid white;
  padding: 8px 50px;
  margin-bottom: 10px;
  color: #f29f8d;
}
.btn-whats-nav {
  padding: 6px 15px;
  background: #f29f8d;
  color: #283959;
  transition: 0.2s ease-in;
}
.btn-whats-nav:hover {
  background: #8ea3bf;
}
.videoyt {
  margin-top: 30px;
  background: #283959;
  height: 200px;
}
