.spacer {
  margin: 50px 0;
}
.spacer-top {
  margin-top: 50px;
}
.line::after {
  content: '';
  width: 100px;
  height: 3px;
  background: green;
  display: block;
  margin: 0 auto;
  background: #f29f8d;
  margin-top: 10px;
}
.spacer-side {
  padding: 0 10px;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
.menu li {
  color: #ffff;
  transition: 0.1s ease-in;
}
.menu li:hover {
  color: #f29f8d;
}
.btn-produtos {
  border-radius: 0.4rem;
  border: 2px solid white;
  padding: 8px 50px;
  margin-bottom: 10px;
  color: #f29f8d;
}
.btn-whats-nav {
  padding: 6px 15px;
  background: #f29f8d;
  color: #283959;
  transition: 0.2s ease-in;
}
.btn-whats-nav:hover {
  background: #8ea3bf;
}
.mobile {
  width: 700px;
  height: 380px;
  margin-top: 30px;
}
.mobile-yt iframe {
  width: 400px;
  height: 240px;
  margin-top: 10px;
  background: green;
}
.margin-lateral {
  padding: 0px 15px;
}
.title-banner {
  text-align: center;
  font-size: 2.5rem;
  line-height: 2rem;
}
.video-fernanda {
  width: 630px;
  height: 350px;
}
.box-video-yt {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .video-fernanda {
    width: 100%;
    height: 275px;
  }
  .box-video-yt {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 375px) {
  .video-fernanda {
    width: 100%;
    height: 160px;
  }
  .box-video-yt {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 1440px) {
  .box-video-yt {
    width: 100%;
    height: 250px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .title-banner {
    font-size: 1.75rem;
  }
}
